.container {
    overflow: hidden;
}

.content {
    display: flex;
    transition: transform 0.3s ease;

}

.item {
    width: 80%;
    flex-shrink: 0;
    margin: 0 10%;
    padding: 10rem 0;
    background: #EEE;
    border-radius: 4px;
    text-align: center;

}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 80%;
}

.areaDots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dots {
    margin-top: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #EEE;
}

.activeDots {
    background-color: rgb(56, 245, 69);
}