.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.item img {
    max-width: 100%;
    border-radius: 8px;
}

.title {
    font-weight: bold;
}

.areaBtn {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.Btn {
    background-color: #ccc;
    padding: 5px;
    border-radius: 4px;
    font-size: .8rem;
    cursor: pointer;

}